<?xml version="1.0" encoding="UTF-8"?>
<!-- @version $Id: applicationContext.xml 561608 2007-08-01 00:33:12Z vgritsenko 
	$ -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/context/spring-context-2.5.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!-- BEANS CONFIGURACION JNDI DATASOURCE -->
	<bean id="dataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"
			value="java:comp/env/jdbc/RegistroActividadesConexion" />
	</bean>

	<!-- BEANS CONFIGURACION HIBERNATE -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.Oracle10gDialect
				</prop>
				<prop key="hibernate.show_sql">
					false
				</prop>
				<prop key="hibernate.transaction.factory_class">
					org.hibernate.transaction.JDBCTransactionFactory
				</prop>
			</props>
		</property>

		<property name="mappingResources">
			<list>
				<value>com/udea/dominio/hbm/TbAdmPermisosxrol.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbAdmRecurso.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbAdmRol.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbAdmUsuario.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbAdmUsuarioxrol.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbCurso.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbDependenciaAcademica.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbDocente.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbDocenteSemestreCurso.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbGrupo.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbPersona.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbReporteActividad.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbSemestre.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbSemestreCurso.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbTipoActividad.hbm.xml</value>
				<value>com/udea/dominio/hbm/TbTipoIdentificacion.hbm.xml</value>
			</list>
		</property>

	</bean>

	<!-- BEANS PARA LOS NEGOCIOS -->
	<bean id="beanPersonaNgc" class="com.udea.servicios.ngc.PersonaNgc"
		scope="singleton">
		<property name="personaDao" ref="personaDaoPers"></property>
	</bean>

	<bean id="beanDocenteNgc" class="com.udea.servicios.ngc.DocenteNgc"
		scope="singleton">
		<property name="docenteDao" ref="docenteDaoPers"></property>
	</bean>
	
	<bean id="beanTipoActividadNgc" class="com.udea.servicios.ngc.TipoActividadNgc"
		scope="singleton">
		<property name="tipoActividadDao" ref="tipoActividadDaoPers"></property>
	</bean>
	
	<bean id="beanSemestreNgc" class="com.udea.servicios.ngc.SemestreNgc"
		scope="singleton">
		<property name="semestreDao" ref="semestreDaoPers"></property>
	</bean>
	
	<bean id="beanDocenteSemestreCursoNgc" class="com.udea.servicios.ngc.DocenteSemestreCursoNgc"
		scope="singleton">
		<property name="docenteSemestreCursoDao" ref="docenteSemestreCursoDaoPers"></property>
	</bean>
	
	<bean id="beanReporteActividadNgc" class="com.udea.servicios.ngc.ReporteActividadNgc"
		scope="singleton">
		<property name="reporteActividadDao" ref="reporteActividadDaoPers"></property>
	</bean>

	<!-- BEANS PARA LA PERSISTENCIA -->
	<bean id="personaDaoPers" class="com.udea.servicios.dao.hibernate.PersonaDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="docenteDaoPers" class="com.udea.servicios.dao.hibernate.DocenteDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="tipoActividadDaoPers" class="com.udea.servicios.dao.hibernate.TipoActividadDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="semestreDaoPers" class="com.udea.servicios.dao.hibernate.SemestreDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="docenteSemestreCursoDaoPers" class="com.udea.servicios.dao.hibernate.DocenteSemestreCursoDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="reporteActividadDaoPers" class="com.udea.servicios.dao.hibernate.ReporteActividadDaoHibernate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
</beans>