<h2>Detalle Actividades</h2>
<h4><a href="javascript:void(0)" (click)="consultar(semana.fechaInicial,-1)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>&nbsp; Semana {{semana.numeroSemana}} - {{semana.fechaInicial | date}} a {{semana.fechaFinal | date}}  &nbsp;
<a href="javascript:void(0)" (click)="consultar(semana.fechaFinal,1)"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></h4>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Docente</th>
        <th>Tipo actividad</th>
        <th>Fecha</th>
        <th>Horas</th>
        <th>Observacion</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of actividades">
        <td>{{a.tbDocenteSemestreCurso.tbDocente.tbPersona.vrNombres}} {{a.tbDocenteSemestreCurso.tbDocente.tbPersona.vrApellidos}}</td>
        <td>{{a.tbTipoActividad.vrNombre}}</td>
        <td>{{a.dtFecha}}</td>
        <td>{{a.nbHoras}}</td>
        <td>{{a.vrDescripcion}}</td>
        <td>
          <a href="javascript:void(0)" title="Modificar" (click)="editar(a.nbId)"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a> &nbsp;
          <a href="javascript:void(0)" title="Eliminar" (click)="eliminar(a.nbId)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
        </td>
      </tr>
    </tbody>
  </table>
  <h4><a href="javascript:void(0)" (click)="consultar(semana.fechaInicial,-1)"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>&nbsp; Semana {{semana.numeroSemana}} - {{semana.fechaInicial | date}} a {{semana.fechaFinal | date}}  &nbsp;
<a href="javascript:void(0)" (click)="consultar(semana.fechaFinal,1)"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a></h4>
</div>